pin-depends:[
  [ "zfs.dev"      "git+https://github.com/patricoferris/ocaml-zfs" ]
  [ "void.dev"     "git+https://github.com/quantifyearth/void" ]
  [ "irmin.dev"    "git+https://github.com/mirage/irmin#eio" ]
  [ "irmin-fs.dev" "git+https://github.com/mirage/irmin#eio" ]
]
